<!doctype html>
<html lang="en" />
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Embed Demo</title>
	   {{ js_resources|indent(4)|safe }}

    	{{ css_resources|indent(4)|safe }}
	<!--<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>-->
    {{ plot_script|indent(4)|safe }}

  </head>
  <body>
    <h1>Generated graph for {{ticker}}</h1>
    	<a href="index">Back</a>
	{{ plot_div|indent(4)|safe }}

  </body>
</html>
