<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Ticker</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h1>User Input</h1>
		<p>Please enter a stock ticker eg. GOOG and check desired features.</p>
		<form method='post' action="index">
		  Ticker symbol:<br>
			<input type="text" name="ticker" value="FB">
		<br>
		<input type="checkbox" name="cprice"> Closing price<br>
		<input type="checkbox" name="acprice"> Adjusted closing price<br>
		<input type="checkbox" name="oprice"> Opening price<br>
		<input type="checkbox" name="aoprice"> Adjusted opening price
		<br>
		<input type="submit" value="Submit">
		</form>
		     
	</body>
</html>
